.body{
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 500;
    max-width: 900px;
    text-align: center;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}

a {
    color:#212529;
}

a:hover{
    color: #e6e8e5;
    text-decoration:none;
}