.title{
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #000000;
    max-width: 10000px;
    text-align: center;
    padding-top: 75px;
    margin: auto;
}